# Arquivos de bytecode e caches
__pycache__/
*.pyc

# Ambientes virtuais (ex: venv, env)
venv/
env/

# Logs e arquivos de banco de dados temporários
*.log
*.sqlite3

# Arquivos do editor (ex: VS Code)
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
